.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10%;
  /* border-bottom: 1px solid #000; */
  width: 100vw;
}
.navbar h1 {
  color: #000;
}
.navbar .links {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
  color: #000;
}
.navbar a:hover {
  color: #6578A9;
}
.navbar button {
  padding: 6px;
}
