.module-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.module-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}