.learn-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./moduleBG.png');
}

.learn-option {
    padding: 10px;
}

.learn-block {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.module {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px 30px; /* Increased padding to make the background longer */
    position: relative;
    transition: transform 0.3s ease;
    width: 300px; /* Fixed width */
    height: 400px; /* Fixed height to make the container longer */
    background-color: #877197; /* Purple background */
    border-radius: 10px; /* Rounded corners */
    margin-top: 100px; /* Add margin-top */
}

.module:hover {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 50px 30px; /* Increased padding to make the background longer */
    position: relative;
    transition: transform 0.3s ease;
    width: 300px; /* Fixed width */
    height: 400px; /* Fixed height to make the container longer */
    background-color: #826498; /* Purple background */
    border-radius: 10px; /* Rounded corners */
    margin-top: 100px; /* Add margin-top */
}

.module h3{
    font-weight: bolder;
    font-size: 35px;
}

.module img {
    transition: transform 0.3s ease;
    z-index: 1;
    width: 100%;
    height: 100%; /* Adjust the height to fit inside the longer container */
    object-fit: cover; /* Ensures image covers the container */
}

.text-container {
    position: relative;
    bottom: 0;
    background-color: transparent; /* Make text container transparent */
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Cover the entire module */
    text-align: center;
}

.module h3, .module p {
    color: white;
    margin: 0;
}

.module:hover .text-container {
    opacity: 1;
}

.module:hover img {
    transform: scale(0.9); /* Shrink image on hover */
}

.arrow-button {
    background-color: #F5B7A8;
    color: white;
    margin-top: 70px;
    padding: 5px 10px;
    border-radius: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrow-button:hover{
    background-color: #bb7d6d;
}