.learn-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./moduleBG.png');
}

.learn-option {
    padding: 10px;
}

.learn-block {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.module {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.module img {
    transition: transform 0.3s ease;
    z-index: 1;
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #BCA7CB; /* Background color for the box */
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.module h3, .module p {
    color: white;
    margin: 0;
    text-align: center;
}

.module:hover .text-container {
    opacity: 1;
}

.module:hover img {
    transform: scale(0.9); /* Shrink image on hover */
}
