* {
    margin: 20px;
}

.profile-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.p2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}